<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reguletter</title>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="body.css">
	<link rel="stylesheet" href="header.css">
	<link href="https://fonts.googleapis.com/css?family=Stalemate" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amaranth:400,400i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cuprum:400,400i&subset=cyrillic" rel="stylesheet">
</head>
<body>
	<header>
		<span class='logo'>
      		<span class='logo_part-1'>Regu</span><span class='logo_part-2'>Letter</span>
    	</span>
	</header>
	<main>
		{{{body}}}
	</main>
</body>
</html>